@font-face {
    font-family: 'HangeulNuri-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin:0; padding:0;
}

h1{
    font-size: 100px;
}
h2{
    font-size: 30px;
}
img{
    width: 45px; height: 45px;
}
body{
    position: relative;
}
header{
    position: relative;
    animation-name: NavAnimation;
    animation-duration: 0.5s;
    animation-direction: ease-in;
}
nav{
    width: 100%;
    padding-top: 20px; padding-bottom: 20px;
    text-align: center;
    background-color: lightyellow;
}
nav ul{
}
nav li{
    display: inline-block;
    padding-left: 5%; padding-right: 5%;
}
main{
    display: inline-block;
    width: 100%;
    padding-top: 50px;
    text-align: center;
}
footer{
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0px;
    background-color: black;
}
footer img{
    padding: 20px;
    filter: invert();
}

#LoginContain{
    margin: auto;
    width: 35%; height: 45%;
    background-color: cyan;
    border-radius: 20px;
}

#InputID label{
    left: -50px;
}

@keyframes NavAnimation{
    from{
        top: -50;
    }
    to{
        top: 0;
    }
}