@font-face {
    font-family: 'HangeulNuri-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1{
    font-size: 120px;
}
h2{
    font-size: 45px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 25px;
}

body{
    margin:0 ; padding: 0;
    background-image: url("Image/BG.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    font-family: HangeulNuri-Bold;
    z-index: -5;
}

main{
    padding: 5%;
    grid-template-rows: 1fr 1fr 1fr;
}

main #Contents{
    margin: 0; padding: 0;
    text-align: center;
    border: double 10px;
}

#Contents img{
    width: 100px; height: 100px;
    filter: invert();
}

#popup {
    display: inline-block;
    position: fixed;
    z-index: 10;
    background-color: black;
    margin: 50%;
}

footer{
    position: fixed;
    bottom: 0;
    height: 80px; width: 100%;
    background-color: black;
}

footer img{
    padding: 20px; padding-left: 100px; padding-right: 100px;
    height: 50px; width: 50px;
    filter: invert();
}


nav ul{
    animation-name: NavAnimation;
    animation-duration: 0.8s;
    animation-direction: ease-in;

    list-style-type: none;
    background-color: #F5F5F5;
    margin: 0; padding: 0;
    width: 100%;
    box-sizing: border-box;
    top: 0; left: 0; position: fixed;
    text-align: center;
    z-index: 2;
}

nav ul li{
    display: inline-block;
    margin-left: 3%; margin-right: 3%; margin-top: 0.5%; margin-bottom: 0.5%; padding-left: 0.5%; padding-right: 0.5%;
    color: white;
    background: #F5F5F5;
    width: 70px;
    border-radius: 5px;
}

nav ul :nth-child(4){
    float: right;
    text-align: center;
}

.NavItem:hover{
    background: #E3D587;
    border-radius: 5px;
    filter: invert();
}

nav ul li img{
    width: 40px; height: 40px;
}

@keyframes NavAnimation{
    from{
        top: -50;
    }
    to{
        top: 0;
    }
}

@keyframes TextOpacity{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

