body{
    background-color: #000000;
}

#LOGO{
    float: left;
}

header{
    background-color: #696969;
}

ul{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    list-style-type: none;
    text-align: center;
}

li{
    display: relative;
    float: right;
}

.NavItem{
    color: white;
    margin-left: 10% auto;
    margin-right: 5% auto;
    padding-left: 15px;
    padding-right: 15px;
}

.NavItem:hover{
    color: red;
}